<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>
<body>
    <div class="container">
        <h2>Projectos</h2>

        <ul>
            <li *ngFor="let project of projects" class="project">
                <a [routerLink]="['/proyecto', project._id]">
                    <h3>{{project.name}}</h3>
                    <h3>{{project.langs}}</h3>
                    <h3>{{project.category}}</h3><br>
                </a>

            </li>
        </ul>

    </div>
</body>
</html>